services:
  # MongoDB
  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # Airflow
  airflow:
    build: ./airflow
    container_name: airflow
    restart: always
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    ports:
      - "8080:8080"
    command: ["standalone"]
    depends_on:
      - mongo

  # PySpark + Streamlit
  streamlit:
    build: .
    container_name: streamlit_app
    depends_on:
      - mongo
      - airflow
    ports:
      - "8501:8501"
    environment:
      MONGO_URI: mongodb://mongo:27017
      AIRFLOW_URL: http://airflow:8080

  # Jupyter Notebook
  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: jupyter_notebook
    depends_on:
      - mongo
    ports:
      - "8888:8888"
    volumes:
      - C:/Users/aamir/Desktop/YC/P/SmartLogisticsAI/app:/home/jovyan/work
    environment:
      MONGO_URI: mongodb://mongo:27017
    command: >
      jupyter notebook --ip=0.0.0.0 --port=8888 --no-browser --notebook-dir=/home/jovyan/work --allow-root --NotebookApp.token=''

# Volumes pour MongoDB
volumes:
  mongo_data:
